body {
    overflow: scroll;
    box-sizing: border-box; 
    /*background-color: white;*/
    background-color: #F5F5DC;
    font-family: Arial;
    color: black;
    height: 100%;
    margin: 0;
}
.title {
    background-color: white;
    float: center;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px;
}

.title h1{
    background-color: white;
    display: block;
  }
.navi {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.navi li {
    float: left;
    width: 200px;
    height: 40px;

    background-color: black;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.navi1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    }
.navi2 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    }
.navi3 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    }
.navi4 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    }
.navi #subnavi1 {
    width: 180px;    
}
.navi #subnavi2 {    
    width: 150px;    
}
.navi #subnavi3 {    
    width: 320px;    
}
.navi #subnavi4 {    
    width: 260px;    
}    
.navi1 li {   
    width: 180px;    
}        
.navi2 li {   
    width: 150px;    
}
.navi3 li {   
    width: 400px;    
}
.navi4 li {   
    width: 260px;    
}
.navi li a {
    text-decoration: none;
    color: white;
    display: block;
}
.navi li a:hover {
    background-color: red; 
}
.navi li ul li {
    display: none;
}
.navi li:hover ul li {
    display: block;
}
.container {
    align-items: left;
    align-self: left;
    background-color: black;
    display: flex;
    max-width: 100%;
    position: relative;
    /*min-width: 80%;*/
  
}
.container2 {
    position: relative;
    align-items: left;
    align-self: left;
    background-color: black;
    display: none;
    max-width: 100%;
}
.bodyC {
    align-items: center;
    align-self: center;
    float: left;
    height: 300%;
    margin-top: 132px;
    width: 200px;
    margin-right: 50;
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 1;
}
.bodyD {
    align-items: center;
    align-self: center;
    float: left;
    height: 100%;
    margin-top: 360px;
    width: 200px;
    margin-right: 50;
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 1;
    padding-top: 60px;
}
.list li:not(:last-child) {
    padding-bottom: 5px;
    margin-bottom: 5px;

}
.list {
    list-style: none;
}
.nar {
    width: 200px;
    height: 20px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 16px; 
}
.nar li {
    float: left;
    width: 200px;
    height: 30px;
    }
.nar li {
    padding-top: 15px;
    padding-bottom: 5px;
    }

.nar li a {
    text-decoration: none;
    color: white;
    display: block;
    }
.nar li:hover {
    background-color: orange; 
}
.nar #highlight {
    background-color: green;     
}
.cwrapper {
    position: relative;
    margin-left: 200px;
    margin-right: 50px;
    float: right;
    height: 100%;
    margin-top: 120px;
    width: 89vw;
    margin-right: 50;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .9;
    overflow: scroll;
    padding-top: 60px;
}
p {
    padding-top: 50px;
    margin-left: 250px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: block;
    padding-bottom: 100px;
    /*background-color: orange;*/
}
.Wcontent{
    background-color: #F5F5DC;
    margin: 0px;
    padding: 0px;
    height: 600%;
}

@media screen and (max-width:1120px){
    .container {
    display: none;
    }
    .container2 {
    display: flex;
    }
}

@media screen and (max-width:370px){
    /*.navi li a {
    display: none;
    } */
    .container {
    display: none;
    }
    .container2 {
    display: none;
    }
}